body {
  width: 100%;
  margin: 0 auto;
  min-width: 0px;
  max-width: 2000px;
}

* {
  padding: 5px;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}

.links {
  font-size: 25px;
  color: red;
}
